 h1{
            background-color: yellow;
            color: blue;
        }
        div{
            background-color: black;
            color: aqua;
        }
        p{
            color: rgb(102, 102, 205);
        }